{{> header}}

<section class="rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room1.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Toronto Loft 7 with patio!</div>
                        <div class="room-price">
                            <p>$130</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room2.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Toronto Loft 12 Amazing Duplex</div>
                        <div class="room-price">
                            <p>$195</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room3.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Lisbon Sky View Loft</div>
                        <div class="room-price">
                            <p>$125</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room4.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Lisbon night View Loft</div>
                        <div class="room-price">
                            <p>$152</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room5.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Toronto Sky View Loft</div>
                        <div class="room-price">
                            <p>$110</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="room-box">
                    <div class="room-img">
                        <a href="/detail"><img src="./images/room6.jpg" alt="" /></a>
                        <small class="room-desc">ENTIRE APARTMENT</small>
                        <div class="room-title">Cozy comfortable house</div>
                        <div class="room-price">
                            <p>$150 CAD</p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-2">Update</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-2">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}