{{> header}}
<div class="bg">
  <p class="desc">Let's find places to stay at TamHome</p>
</div>
<!-- Search result -->
<section class="rooms">
  <h3 class="room-heading text-center">
    Places to stay near your location
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img mb-5">
            <a href="/detail"><img src="./images/room1.jpg" alt="" /></a>
            <div class="title">Toronto Loft 7 with patio!</div>
            <small class="description">Entire Apartment</small>
            <div class="price">$130 CAD</div>
            <div class="location">
              Toronto, Ontario
            </div>

            {{!-- <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img">
            <a href="/detail"><img src="./images/room2.jpg" alt="" /></a>
            <div class="title">Toronto Loft 12 Amazing Duplex</div>
            <small class="description">Patio Apartment</small>
            <div class="price">$195 CAD</div>
            <div class="location">
              Toronto, Ontario
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img">
            <a href="/detail"><img src="./images/room3.jpg" alt="" /></a>
            <div class="title">Lisbon Sky View Loft</div>
            <small class="description">View Apartment</small>
            <div class="price">$125 CAD</div>
            <div class="location">
              Toronto, Ontario
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img">
            <a href="/detail"><img src="./images/room4.jpg" alt="" /></a>
            <div class="title">Lisbon night View Loft</div>
            <small class="description">Small Apartment</small>
            <div class="price">$152 CAD</div>
            <div class="location">
              Montreal, Quebec
            </div>
            {{!-- <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img">
            <a href="/detail"><img src="./images/room5.jpg" alt="" /></a>

            <div class="title">Vancouver Sky View Loft</div>
            <small class="description">Medium Apartment</small>
            <div class="price">$110 CAD</div>
            <div class="location">
              Vancouver, BC
            </div>
            {{!-- <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-box">
          <div class="room-img">
            <a href="/detail"><img src="./images/room6.jpg" alt="" /></a>

            <div class="title">Rainbow view Loft</div>
            <small class="description">Cozy Apartment</small>
            <div class="price">$150 CAD</div>
            <div class="location">
              Vancouver, BC
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer}}