{{>header}}
<div class="bg">
  <p class="desc">Welcome at Tamhome!</p>
</div>
<section class="container text-center my-4">
  <div class="alert alert-info container text-center my-4" role="alert">
    <h4 class="alert-heading">Welcome {{fname}} {{lname}}</h4>
    <p>
      Now you are all set to place your first booking at Tamhome
    </p>
    <hr />
    <p class="mb-0">
      Whenever you need our help, please do not hesitate to contact us.
    </p>
  </div>
</section>

<!-- footer -->
{{>footer}}